<!DOCTYPE html>
<html>
  <head>
    <title>Lyft vs. Uber</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+ ENV['GOOGLE_API_KEY'] + '&callback=initGoogleMaps'%> 
  </head>
  <body>
    <div class = 'container'>
      <h1>Lyft vs Uber</h1>
      <hr />
      <%= yield %>
    </div>
  </body>
</html>
